$comments: $bodyFontColor;
$regular: $headingFontColor;
$method: $highlightColor2;
$string: $highlightColor;
$keyword: $highlightColor3;
$constant: $highlightColor4;
$regex: $highlightColor4;

.highlight {
  background-color: lighten($backgroundColor, 10%);
  padding: 7px 7px 7px 10px;
  //border: 1px solid #ddd;
  //-moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
  //-webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
  //box-shadow: 3px 3px rgba(0,0,0,0.1);
  margin: 20px 0 20px 0;
  overflow: hidden;
}

code {
  font-family: "Bitstream Vera Sans Mono", "Courier", monospace;
}
.highlight .c {
  color: $comments;
} /* Comment */
.highlight .err {
  color: $regular;
} /* Error */
.highlight .g {
  color: $regular;
} /* Generic */
.highlight .k {
  color: $keyword;
} /* Keyword */
.highlight .l {
  color: $regular;
} /* Literal */
.highlight .n {
  color: $regular;
} /* Name */
.highlight .o {
  color: $keyword;
} /* Operator */
.highlight .x {
  color: $constant;
} /* Other */
.highlight .p {
  color: $regular;
} /* Punctuation */
.highlight .cm {
  color: $comments;
} /* Comment.Multiline */
.highlight .cp {
  color: $keyword;
} /* Comment.Preproc */
.highlight .c1 {
  color: $comments;
} /* Comment.Single */
.highlight .cs {
  color: $keyword;
} /* Comment.Special */
.highlight .gd {
  color: $string;
} /* Generic.Deleted */
.highlight .ge {
  color: $regular;
  font-style: italic;
} /* Generic.Emph */
.highlight .gr {
  color: $regex;
} /* Generic.Error */
.highlight .gh {
  color: $constant;
} /* Generic.Heading */
.highlight .gi {
  color: $keyword;
} /* Generic.Inserted */
.highlight .go {
  color: $regular;
} /* Generic.Output */
.highlight .gp {
  color: $regular;
} /* Generic.Prompt */
.highlight .gs {
  color: $regular;
  font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
  color: $constant;
} /* Generic.Subheading */
.highlight .gt {
  color: $regular;
} /* Generic.Traceback */
.highlight .kc {
  color: $constant;
} /* Keyword.Constant */
.highlight .kd {
  color: $method;
} /* Keyword.Declaration */
.highlight .kn {
  color: $keyword;
} /* Keyword.Namespace */
.highlight .kp {
  color: $keyword;
} /* Keyword.Pseudo */
.highlight .kr {
  color: $method;
} /* Keyword.Reserved */
.highlight .kt {
  color: $regex;
} /* Keyword.Type */
.highlight .ld {
  color: $regular;
} /* Literal.Date */
.highlight .m {
  color: $string;
} /* Literal.Number */
.highlight .s {
  color: $string;
} /* Literal.String */
.highlight .na {
  color: $regular;
} /* Name.Attribute */
.highlight .nb {
  color: $keyword;
} /* Name.Builtin */
.highlight .nc {
  color: $method;
} /* Name.Class */
.highlight .no {
  color: $constant;
} /* Name.Constant */
.highlight .nd {
  color: $method;
} /* Name.Decorator */
.highlight .ni {
  color: $constant;
} /* Name.Entity */
.highlight .ne {
  color: $constant;
} /* Name.Exception */
.highlight .nf {
  color: $method;
} /* Name.Function */
.highlight .nl {
  color: $regular;
} /* Name.Label */
.highlight .nn {
  color: $regular;
} /* Name.Namespace */
.highlight .nx {
  color: $comments;
} /* Name.Other */
.highlight .py {
  color: $regular;
} /* Name.Property */
.highlight .nt {
  color: $method;
} /* Name.Tag */
.highlight .nv {
  color: $method;
} /* Name.Variable */
.highlight .ow {
  color: $keyword;
} /* Operator.Word */
.highlight .w {
  color: $regular;
} /* Text.Whitespace */
.highlight .mf {
  color: $string;
} /* Literal.Number.Float */
.highlight .mh {
  color: $string;
} /* Literal.Number.Hex */
.highlight .mi {
  color: $string;
} /* Literal.Number.Integer */
.highlight .mo {
  color: $string;
} /* Literal.Number.Oct */
.highlight .sb {
  color: $comments;
} /* Literal.String.Backtick */
.highlight .sc {
  color: $string;
} /* Literal.String.Char */
.highlight .sd {
  color: $regular;
} /* Literal.String.Doc */
.highlight .s2 {
  color: $string;
} /* Literal.String.Double */
.highlight .se {
  color: $constant;
} /* Literal.String.Escape */
.highlight .sh {
  color: $regular;
} /* Literal.String.Heredoc */
.highlight .si {
  color: $string;
} /* Literal.String.Interpol */
.highlight .sx {
  color: $string;
} /* Literal.String.Other */
.highlight .sr {
  color: $regex;
} /* Literal.String.Regex */
.highlight .s1 {
  color: $string;
} /* Literal.String.Single */
.highlight .ss {
  color: $string;
} /* Literal.String.Symbol */
.highlight .bp {
  color: $method;
} /* Name.Builtin.Pseudo */
.highlight .vc {
  color: $method;
} /* Name.Variable.Class */
.highlight .vg {
  color: $method;
} /* Name.Variable.Global */
.highlight .vi {
  color: $method;
} /* Name.Variable.Instance */
.highlight .il {
  color: $string;
} /* Literal.Number.Integer.Long */
